$gray-100: #f8f9fa;

$theme-colors: (
  "primary": #008ff7,
  "secondary": #404040,
  "success": #1ce1ac,
  "info": #ff7d50,
  "warning": #ffbe0b,
  "danger": #ff007f,
  "light": $gray-100,
  "dark": #224769,
);

$navbar-light-active-color: #008ff7;
$navbar-light-brand-color: rgba(0, 0, 0, 0.9);
$navbar-light-brand-hover-color: $navbar-light-brand-color;

@import "/node_modules/bootstrap/scss/bootstrap.scss";
